.searchContainer{
    width: fit-content;
    margin-left: auto;
    display: flex;
}

.searchInput{
    font-size: 1rem;
}

.searchButton{
    background-color: var(--darkBlock);
    margin-left: 5px;
    padding: 10px 15px;
}