.Header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: var(--white);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    padding: 10px 10px 10px 10px;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 10px;
}

