.Navbar{
    width: 150px;
    min-width: 150px;
    min-height: 100vh;
    overflow: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
    position: sticky;
    top: 0;
    height: 100vh;
}

.NavBarIcon{
    margin: 10px;
}

.MobileThings{
    width: 100%
}

.MobileNav{
    height: 100dvh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
}


.logo{
    width: 80%;
    margin: 20px 0;
}

.MenuItem {
    padding: 12px; /* Sleek padding for a minimal feel */
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start; /* Align items to the start for iOS-like feel */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transition */
    font-weight: 500; /* Simple, slightly bold text */
    color: var(--black); /* Keep text color crisp and clean */
    background-color: transparent; /* No background by default */
    
}

.Logout{
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 15px 10px;
}

.Section {
    margin-bottom: 15px; /* Minimal spacing between sections */
   
    background-color: var(--block); /* Clean, subtle background for sections */
}

.MenuItem:hover {
    background-color: var(--darkBlock); /* Slight background color change on hover */
    cursor: pointer;
}

.MenuItem.active {
    background-color: var(--accent); /* Use the accent color for active item */
    color: var(--black); /* Ensure text is readable against accent */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for focus */
}